services:
- type: worker
  name: instagram-youtube-link-converter-bot
  env: python
  buildCommand: pip install -r requirements.txt
  startCommand: python bot.py
  envVars:
  - key: TELEGRAM_BOT_TOKEN
    sync: false
  autoDeploy: false